.right-side-pane {
  position: fixed;
  right: 0;
  z-index: 1;
  min-width: 30rem;
  height: calc(100vh - 4rem);
  box-shadow: var(--shadow-elevation-high);
}
@media (max-width: 768px) {
  .right-side-pane {
    min-width: auto;
    left: 5rem;
  }
}

.details__wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px) contrast(0.5);
  box-shadow: var(--shadow-elevation-high);
  font-size: 1rem;
}
.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  font-size: 1rem;
}
.details > div {
  flex-basis: 25%;
  margin: 0.5em;
  padding: 0.5em 1em;
}
.details dt,
dd {
  display: block;
}
.details dt {
  color: var(--dark-gray);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 0.15em;
}
.details dd {
  color: var(--very-dark-gray);
  font-size: 1.4em;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .details {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 768px) {
  .details__wrapper {
    font-size: 0.7rem;
  }
  .details {
    text-align: center;
  }
  .details > div {
    margin: 0;
    padding: 0;
  }
  .details div + div {
    margin-top: 0.7em;
  }
}
