.field__root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  padding: 0;
  min-width: 0;
  border: 0;
  line-height: 2rem;
  width: 100%;
}
.input__root {
  position: relative;
  display: inline-flex;
  line-height: 2rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  font: inherit;
}
.input__root:hover > fieldset {
  border-color: var(--colors-blue7);
}

label {
  display: block;
  font: inherit;
  padding: 0;
  color: var(--colors-gray12);
  white-space: nowrap;
}
input {
  width: 100%;
  user-select: none;
  border: 0;
  outline: 0;
  line-height: 2rem;
  font: inherit;
  color: currentColor;
}
input:focus ~ fieldset {
  border-width: 2px;
  border-color: var(--colors-blue7);
}
::placeholder {
  font-size: 0.8em;
  color: var(--colors-gray9);
}
.input__border {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  min-width: 0;
  border-radius: inherit;
  border-width: 1px;
  border-color: var(--colors-gray9);
  border-style: solid;
  margin: 0;
  padding: 0 0.5rem;
}
.field__root.error .input__border {
  border-color: var(--colors-red9);
}
legend {
  display: block;
  max-width: 0;
  padding: 0;
  visibility: hidden;
}
.helper__text {
  font-size: 0.85rem;
  background-color: var(--white);
  color: var(--colors-gray12);
  margin-top: -2px;
  padding: 0.2rem;
}
.field__root.error .helper__text {
  color: var(--colors-red9);
}
